.zen-container {
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, "Droid Sans", Arial, serif;
    padding: 16px;
}

.zen-container > p {
    margin-top: 0;
    margin-bottom: .8em;
}

/* Default theme */
.zen-container {
    background: #efefef;
}

.zen-container > .zen-notice {
    color: #888888;
}

.zen-container > .zen-message {
    color: #303030;
}

.zen-container > .zen-message > .zen-user {
    color: #707070;
}

/* Dark theme */
.zen-container.dark {
    /*background: #303030;*/
    background: rgb(46, 41, 63);
}

.zen-container.dark > .zen-notice {
    color: #888888;
}

.zen-container.dark > .zen-message {
    color: #e8e8e8;
}

.zen-container.dark > .zen-message > .zen-user {
    color: #b7b7b7;
}
